@import "color.scss";

.body-admin{
	header{
		box-shadow: 2px 4px 20px -4px rgba(0,0,0,.1);
		position: fixed;
		width: 100%;
		z-index: 2;
	    .main-header{
	        width: 100%;
	        height: 70px;
	        display: flex;
	        .left{
	        	width: 250px;
	            padding: 15px 10px;
	            margin:0;
	            display: flex;
	            justify-content:space-between;
	            align-items:center;
	            background: $teal;
	            transition: .5s ease all;
	            .logo{
	            	display: flex;
		            justify-content:center;
		            align-items:center;
		            img{
		                height: 50px;
		            }
		            h1{
		                font-size: 18px;
		                text-transform: uppercase;
		                padding: 15px 10px;
		                color: $white;
		                margin:0;
		                font-weight: bold;
		                letter-spacing: 1px;
		            }
	            }
	            &.wrapping{
	            	width: 45px;
	            	transition: .5s ease all;
	            	img{
	            		width: 30px;
	            		height: auto;
	            	}
	            	h1{
	            		display: none;
	            	}
	            }
	        }
	        .right{
	        	background-color: $white;
	        	width: calc(100% - 250px);
	        	display: flex;
	        	align-items:center;
	        	justify-content: space-between;
	        	transition: .5s ease all;
	        	.btn-hide-aside{
	        		font-size: 24px;
	        		color: $teal1;
	        	}
	            .menu{
	            	padding: 20px 10px;
	                ul{
	                    font-size: 14px;
	                    padding: 0;
	                    margin: 0;
	                    list-style: none;
	                    z-index: 76;
	                    color: $teal1;
                        display: flex;
	                    align-items:center;
	                    li{
	                        a{
	                            padding: 5px 25px 5px 0;
	                            display: flex;
	                            align-items:center;
	                            i{
	                            	margin-right: 5px;
	                            }
	                            .badge{
	                            	margin-left: 5px;
	                            }
	                            .avatar{
	                            	width: 40px;
	                            	height: 40px;
	                            	border-radius: 50%;
	                            	overflow: hidden;
                            		margin-right: 5px;
	                            	img{
	                            		width: 100%;
	                            	}
	                            }
	                        }
	                        &:hover{
	                            color: $teal2;
	                            transition: .2s ease;
	                            ul{
	                                display: block;
	                            }
	                        }
	                    }
	                }
	            }
                &.active{
                	display: block;
                	position: fixed;
                	top:70px;
                	left: 0;
                	width: 100%;
                	background: $teal3;
                	.btn-hide-aside{
                		display: none;
                	}
                	.menu{
                		ul{
                			flex-direction: column;
                			li{
                				a{
                					padding: 5px 0;
                					color: $white;
                				}
                				.dropdown-menu{
                					.dropdown-item{
                						color: $teal3;
                					}
                				}
                			}
                		}
                	}
                }
	            &.wrapping{
	            	width: 100%;
	            	transition: .5s ease all;
	            }
	        }
	    }
	}

	.side-menu{
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 70px;
	    height: calc(100vh - 70px);
	    width: 250px;
	    background: $teal;
	    padding-bottom: 15px;
	    overflow: hidden;
	    transition: .5s ease all;
	    ul{
	        list-style: none;
	        padding: 0;
	        margin: 0;
	        .list-title{
	        	color: $white2;
	        	text-transform: uppercase;
	        	font-weight: bold;
	        	font-size: 12px;
	        	padding: 20px 15px 10px;
	        	width: 250px;
	        }
	        li{
	            color: $white2;
	            width: 100%;
	            font-size: 14px;
	            position: relative;
	            a{
	        		padding: 10px 30px 10px 15px;
	                display: flex;
	                align-items:center;
	                width: 250px;
	                i{
	                	margin-right: 10px;
	                	width: 20px;
	                	&:before{
	                		display: flex;
	                		justify-content:center;
	                	}
	                }
	            	.right{
	            		right: 0 !important;
	            		left: auto !important;
	            	}
	            }
	            ul{
	            	height: 0;
	            	display: none;
	            	&.active{
		            	display: block;
		            	height: 100%;
		            	font-weight: normal;
		            	li{
		            		a{
		            			background: transparent;
		            			padding: 8px 30px 8px 45px;
		            			&:hover{
				            		background: $teal3;
					            }
		            		}
		            	}
	            	}
	            }
	            &.active{
	            	color: $teal2;
	            	a{
	            		background: $teal3;
	            	}
	            	&:before{
	            		content: '';
	            		position: absolute;
	            		top: 0;
	            		left: 0;
	            		width: 4px;
	            		height: 100%;
	            		background-color: $teal2;
	            	}
	            }
	            &.child{
	            	cursor: pointer;
		        	&:before{
		    			font-family: 'Font Awesome 5 Free';
					    font-weight: 900;
		        		position: absolute;
		        		right: 15px;
		        		top: 13px;
		        		content: "\f078";
		        		font-size: 10px;
		        	}
	            }
	            &.open{
	            	a{
	            		background: $teal3;
	            	}
	            	&:after{
	            		content: '';
	            		position: absolute;
	            		top: 0;
	            		left: 0;
	            		width: 4px;
	            		height: 100%;
	            		background-color: $teal2;
	            	}
	            	&:before{
		        		content: "\f077";
		        	}
	            }
	            &:hover{
	            	a{
	            		background: $teal3;
	            	}
	            }
	        }
	    }
	    &.wrapping{
	    	width: 45px;
	    	transition: .5s ease all;
	    	ul{
	    		.list-title{
	    			display: none;
	    		}
	    		li{
	    			a{
	    				width: 250px;
	    			}
	    			&.child, &.open{
	    				&:before{
	    					display: none;
	    				}
	    			}
	    		}
	    	}
	    }
	    &.active{
	    	width: 250px;
	    }
	    &:hover,&:focus{
	    	overflow-y: auto;
	    }
	    &::-webkit-scrollbar {
	        width: 5px;
	    }
	    &::-webkit-scrollbar-thumb {
	        background: #aaa;
	        border-radius: 6px;
	    }
	}

	.body{
		background: $white1;
		position: relative;
	    right: 0;
	    bottom: 0;
	    // height: calc(100vh - 85px);
	    height: 100vh;
	    width: 100%;
	    padding-left: 250px;
	    padding-top: 70px;
	    padding-bottom: 15px;
	    overflow-y: auto;
	    transition: .5s ease all;
	    .content-wrapper{
	    	padding: 25px;
	    	.card{
		    	padding: 22px;
		    	background: $white;
		    	box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
		    	border-radius: 0;
		    	margin-bottom: 30px;
		    	.card-header{
		    		background: transparent;
		    		padding: 10px 0;
		    		margin-bottom: 25px;
		    		border: none;
		    		.card-title{
		    			color: $teal1;
		    			font-size: 16px;
		    			margin:0;
		    		}
		    	}
	    	}
	    	.content-header{
	    		.content-header-left{
	    			margin-bottom: 22px;
	    			h3.content-header-title{
	    				text-transform: uppercase;
					    font-weight: 600;
					    letter-spacing: 1px;
					    font-size: 22px;
					    color: $teal1;
	    			}
	    		}
	    	}
	    	ol.breadcrumb{
	    		font-size: 13px;
	    		background: transparent;
	    		margin:0;
	    		padding: 0;
	    		li.breadcrumb-item{
	    			line-height: 1.8;
    				text-transform: uppercase;
	    			a{
	    				color: $teal2;
	    			}
	    		}
	    	}
	    }
	    &::-webkit-scrollbar {
	        width: 5px;
	    }
	    &::-webkit-scrollbar-thumb {
	        background: #aaa;
	        border-radius: 6px;
	    }
	    &.wrapping{
        	padding-left: 45px;
        	transition: .5s ease all;
        }
	}

	footer{
	    overflow: hidden;
	    position: fixed;
	    bottom: 0;
	    right: 0;
	    z-index: 20;
	    width: calc(100% - 250px);
	    .copyright{
	        background: #FBFCFF;
            text-align: right;
            padding: 0 15px;
            h1{
                font-size: 10px;
                line-height: 14px;
                letter-spacing: 1px;
                margin:0;
            }
	    }
	}
}
