@import "color.scss";

.body-login{
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
	background-image: url('../../images/bg-pattern.png');
	background-size: cover;
	background-position: center center;
	background-color: $teal3;
	font-family: 'Open Sans', sans-serif;
	.form-place{
		min-height: 100vh;
		.form-box{
			background: rgba(255,255,255,.5);
			border-radius: 10px;
			overflow: hidden;
			.form-content{
				height: 100%;
				.content{
					padding: 20px 50px;
					h1{
						font-size: 16px;
						color: #000036;
					}
					form{
						.form-group{
							margin-bottom: 15px;
							label{
								margin: 0;
							}
							.form-control{
								border-color: $white;
							}
							.btn-show-password{
								border-color: transparent;
								background: #3a6073;
								transition: .5s ease all;
								color: $white;
								&:hover{
									background: $teal3;
									transition: .5s ease all;
								}
							}
						}
					}
				}
				.logo{
					text-align: center;
					background: $white;
					height: 100%;
					display: flex;
					justify-content:center;
					align-items:center;
					flex-direction:column;
					padding: 20px;
					img{
						height: auto;
						width: auto;
						max-height: 200px;
					}
					h1{
						font-size: 24px;
						font-weight: bold;
						margin-top: 15px;
					}
				}
				.btn-login{
					background: #3a6073;
					transition: .5s ease all;
					color: $white;
					width: 100%;
					font-size: 18px;
					letter-spacing: 1px;
					padding: 3px 10px;
					&:hover{
						background: $teal3;
						transition: .5s ease all;
					}
				}
			}
		}
	}
}