// bower:scss
@import "bower_components/components-font-awesome/scss/fontawesome.scss";
@import "bower_components/select2/src/scss/core.scss";
// endbower
@import "bower_components/bootstrap/scss/bootstrap.scss";

//Colour


//Link Scss
@import "login.scss";
@import "admin.scss";
@import "nav.scss";

@import "responsive.scss";
@import "responsive-admin.scss";

@import "color.scss";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

html{
    height: -webkit-fill-available;
}
body{
    font-family: 'Montserrat', sans-serif;
    cursor: context-menu;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    main{
        width: 100%;
        overflow: hidden;
    }
}

a{
    color: inherit;
    text-decoration: none;
    outline: none !important;
    &:hover{
        text-decoration: none;
        color: inherit;
    }
    &:visited{
        text-decoration: none;
        color: inherit; 
    }
    &:link{
        text-decoration: none;
        color: inherit; 
    }
    &:active{
        text-decoration: none;
        color: inherit; 
        outline: none !important;
        box-shadow: none;
    }
    &.page-link{
        &:focus{
            box-shadow: none;
        }
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    box-shadow: none;
    outline: none;
    &:hover{
        outline: none;
        border-color: transparent !important;
        background: transparent !important;
    }
}

.btn{
    outline: none !important;
    &:focus,&:active{
        outline: 0 !important;
        box-shadow: none !important;
    }
}

.btn-outline-primary{
    border-color: $teal2;
    background-color: transparent;
    color: $teal2 !important;
    font-size: 14px;
    &:hover{
        background-color: $teal2;
        color: #FFF!important;
        border-color: $teal2;
    }
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    border-color: $teal2;
    background-color: transparent;
    color: $teal2; 
    &:hover{
        background-color: $teal2;
        color: #FFF!important;
        border-color: $teal2;
    }
}

.dropdown-menu{
    margin:0;
    padding: 0;
    a.dropdown-item{
        padding: 8px 10px !important;
        font-size: 14px;
        &:active{
            background-color: $teal2;
        }
    }
}

.form-control{
    outline: none !important;
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}


.preloader-wrapper {
    height: 100vh;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    .preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
}