@import "color.scss";

.mobile-icon{
	padding: 10px;
	display: none;

	.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active, .menu-nav, .menu-nav.active {
		-webkit-transition: 250ms all;
		transition: 250ms all;
	}

	.menu-opener {
		cursor: pointer;
		height: 50px;
		width: 50px;
		background: inherit;
		float: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: relative;
		border-radius: 50%;
	}

	.menu-opener-inner {
		background: $white;
		height: .5rem;
		width: 2.5rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
	  	&:before{
	  		background: $white;
			content: '';
			display: block;
			height: .5rem;
			width: 2.5rem;
	  		-webkit-transform: translateY(-0.75rem);
		  	-ms-transform: translateY(-0.75rem);
		  	transform: translateY(-0.75rem);
	  	}
	  	&:after{
	  		background: $white;
			content: '';
			display: block;
			height: .5rem;
			width: 2.5rem;
			-webkit-transform: translateY(0.25rem);
			-ms-transform: translateY(0.25rem);
			transform: translateY(0.25rem);
	  	}
	}

	.menu-opener-inner.active {
		background: transparent;
		&:before{
			-webkit-transform: translateY(0rem) rotate(-45deg);
			-ms-transform: translateY(0rem) rotate(-45deg);
			transform: translateY(0rem) rotate(-45deg);
		}
		&:after{
			-webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
			-ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
			transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
		}
	}
}

.mobile-icon-right{
	display: none;
	background: transparent;
	border: none;
	color: $white;
	padding: 14px 20px;
	font-size: 28px;
	box-shadow: none;
	outline: none;
	&:focus{
		outline: none;
	}
}