// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.body-login{
		.form-place{
			.form-box{
				height: auto;
				margin: 0 15px;
				.form-content{
					.logo{
						img{
							max-height: 100px !important;
						}
					}
				}
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.body-login{
		.form-place{
			.form-box{
				height: auto;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	.body-login{
		.form-place{
			.form-box{
				.form-content{
					.logo{
						img{
							max-height: 150px !important;
						}
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}