@import "color.scss";

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	body{
		main{
			section.body-admin{
				header{
					.main-header{
						.left{
							width: 100%;
							padding: 0;
							.mobile-icon{
								display: block;
							}
							.mobile-icon-right{
								display: block;
							}
						}
						.right{
							display: none;
						}
					}
				}
				.side-menu{
					overflow-y: scroll;
					width: 0;
					padding-bottom: 60px;
				}
				.body{
					padding: 0;
				}
				footer{
					display: none;
				}
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}